* { /*RESET CSS*/
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
}

nav {
    width: 1000px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

h1, nav a {
    color: white;
    text-decoration: none;
}
